h1 {
  font-family: Arial, helvetica, sans-serif;
  background-color: red;
  color: white;
  font-size: 24px;
  padding: 20px;
  font-weight: bold;
}
h1 div {
  font-size: 12px;
  text-decoration: underline;
}
h2 {
  font-family: Arial, helvetica, sans-serif;
  text-decoration: underline;
  font-size: 10px;
  padding: 20px;
  color: white;
  background-color: #333333;
}
img {
  padding: 20px;
}
h3 {
  font-size: 18px;
  margin-left: 40px;
  font-family: Arial, helvetica, sans-serif;
  font-weight: bold;
}
p {
  padding: 10px;
  margin-left: 30px;
  font-family: Arial, helvetica, sans-serif;
}
footer {
  padding: 20px;
  font-family: Arial, helvetica, sans-serif;
  background-color: #333333;
  color: white;
}
